@import url('https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap');

.loader{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 8rem;
    margin-top: 10rem;
    font-family: 'Rubik Doodle Shadow', sans-serif;
    color: #F8751A;
}